.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.your-cart {
    padding-bottom: 80px;
}
.shopping-list {
    max-height: 70vh;
    max-width: 70vw;
    min-width: 30vw;
    justify-items: center;
}

.order-item {
    display: flex;
    min-height: 30px;
    margin-left: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    border-width: 1px;
    border-color: ivory;
    border-style: groove ;
}

.item-info {
    min-width: 150px;
    justify-self: flex-start;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.late { color: #ff0000
}

.order-subtotal {
    padding-bottom: 20px;
    width: 150px;
}

.order-summary {

    border-style: outset;
    min-width: 20vw;
    padding: 50px;
    margin: 50px;
}