
.reg_div {
    margin: auto;
  width: 50%;
  padding: 10px;
}

.register_form {
    display: flex;
    flex-direction: column;

}


.name_div {

    display: flex;
    flex-direction: row;
}

.reg_button_div {

    margin: auto;
  width: 50%;
  padding: 10px;
}